.p-4.d-flex.flex-column.justify-content-center.mt-6
  .post-container.p-3
    .mb-3
      = @post.user.name
    .fs-4
      = @post.content
    .text-sm.text-secondary.text-end.mt-2
      = l @post.created_at
  = render 'posts/follow_btn', user: @post.user
  .d-flex.justify-content-between.mt-3
    - if current_user == @post.user
      = link_to '編集', edit_post_path, class: 'btn btn-success'
      = button_to '削除', post_path(@post), method: :delete, class: 'btn btn-danger'
