.vh-100.d-flex.flex-column.p-4.justify-content-between.sticky-top  
  = link_to 'Miniblog 改', root_path, class: 'h3 text-decoration-none'
  %ul.nav.nav-pills.flex-column.mb-auto.mt-3
    %li.nav-item
      - if user_signed_in?
        -# todo:ユーザープロフィールに遷移させる
        = link_to 'プロフィール', root_path, class: 'text-decoration-none text-body'
    %li.nav-item.mt-2
      = link_to '投稿一覧', root_path, class: 'text-decoration-none text-body'
    %li.nav-item.mt-2
      = link_to 'フォローしているユーザーの投稿', following_posts_path, class: 'text-decoration-none text-body'
  .footer
    = link_to '新規投稿', new_post_path, class: 'btn btn-primary d-block'
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-outline-danger mt-3 d-block'
    - else
      = link_to 'ログイン', user_session_path, class: 'btn btn-primary mt-3 d-block'
